html {
    font-family: var(--font-family);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-base);
}
main {
    padding-top: calc(var(--header-height) + var(--space-sm));
}