html {
  font-family: var(--font-family);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-base);
}
main {
  padding-top: var(--main-padding-top);
}
section {
    scroll-margin-top: var(--main-padding-top);
}