.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-lg);
  background-color: var(--color-base-light);
  padding: 8px;
  cursor: pointer;
  transition: filter var(--hover-transition), transform var(--active-transition);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  stroke-width: 1.8;
  color: var(--color-contrast);
  flex-shrink: 0;
}

.icon-sm {
  width: 1.25rem;
  height: 1.25rem;
}
.icon-md {
  width: 1.75rem;
  height: 1.75rem;
}
.icon-lg {
  width: 2.25rem;
  height: 2.25rem;
}

.icon-primary {
  color: var(--color-primary);
}
.icon-contrast {
  color: var(--color-contrast);
}
.icon-base {
  color: var(--color-base);
}
.icon-featured-contrast {
  color: var(--color-featured-contrast);
}
.icon-featured-base {
  color: var(--color-featured-base);
}

@media (hover: hover) and (pointer: fine) {
  .icon-wrapper:hover {
    filter: var(--base-hover);
  }
}
  .icon-wrapper:active {
    transform: translateY(1px);
    filter: var(--base-active);
  }
