---

---

<div class="container">
    <slot />
</div>

<style>
  .container {
    width: 100%;
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding-inline: var(--container-padding-inline);
  }
</style>
