---
import type { Variant } from "../variant";
import Container from "./Container.astro";
import Heading from "../ui/Heading.astro";

type Props = {
  id: string;
  title: string;
  variant?: Variant;
};

const { id, title, variant = "bg" } = Astro.props;

const variantHeading: Variant = variant === "contrast" ? "base" : "contrast";
---

<section id={id} class={`section section-${variant}`}>
  <Container>
    <div class="section-layout">
      <Heading title={title} variant={variantHeading} />
      <slot />
    </div>
  </Container>
</section>

<style>
  .section {
    width: 100%;
    margin-inline: auto;
    padding-block: var(--section-padding);
  }
  .section-primary {
    background-color: var(--color-primary);
  }
  .section-base {
    background-color: var(--color-base);
  }
  .section-contrast {
    background-color: var(--color-contrast);
  }
  .section-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
  }
</style>
