---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import Section from "../components/layout/Section.astro";
import Button from "../components/ui/Button.astro";
---

<BaseLayout title="Pedro Guedes">
  <Header />
  <main>
    <Section id="hero" title="Hero" variant="base">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam
        repellat, saepe sed nisi provident iusto. Dignissimos, commodi.
        Perspiciatis dolores beatae voluptate assumenda vero quae. Ea tenetur
        iure quasi libero?
      </p>
    </Section>
    <Section id="hero" title="Hero" variant="primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam
        repellat, saepe sed nisi provident iusto. Dignissimos, commodi.
        Perspiciatis dolores beatae voluptate assumenda vero quae. Ea tenetur
        iure quasi libero?
      </p>
    </Section>
    <Section id="hero" title="Hero" variant="contrast">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam
        repellat, saepe sed nisi provident iusto. Dignissimos, commodi.
        Perspiciatis dolores beatae voluptate assumenda vero quae. Ea tenetur
        iure quasi libero?
      </p>
    </Section>
  </main>
  <Footer />
</BaseLayout>
