---
import BaseLayout from "../layouts/BaseLayout.astro"
import Section from "../components/layout/Section.astro"
---

<BaseLayout title="Pedro Guedes">
	<Section id="test" title="Sobre Pedro" variant="primary">
		<h2>test 2</h2>
	</Section>
</BaseLayout>
