---
import { ChevronRight, ChevronLeft, GraduationCap, Cat } from "@lucide/astro";

import aboutImage1 from "../../../assets/about/about1.png";
import aboutImage2 from "../../../assets/about/about2.png";
import aboutImage3 from "../../../assets/about/about3.png";
import Section from "../../layout/Section.astro";
import Span from "../../ui/Span.astro";

const topics = [
  "al;sfdjjsd;l",
  "dsflkasd;lfkas;d",
  "fkasdkf;sdkf",
  "jdflkasjdfl;kjasd;lfj;asljdf;l",
];
---

<Section id="about" title="ABOUT ME" variant="base">
  <div class="about-layout">
    <div class="about-content">
      <div class="graduation-card">
        <GraduationCap class="icon icon-lg icon-contrast" />
        <Span
          text="Bachelor’s in Computer Science"
          variant="contrast"
          fontSize="md"
          bold
        />
        <Span text="UFRN (2025 - 2028)" variant="contrast" fontSize="md" />
      </div>
      <div class="about-topics-wrapper">
        {
          topics.map((topic) => (
            <div class="about-topic">
              <ChevronRight class="icon icon-sm icon-primary" />
              <Span text={topic} variant="contrast" />
            </div>
          ))
        }
      </div>
    </div>
    <div class="swiper swiper-about">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src={aboutImage1.src} alt="UFRN" class="about-image" />
        </div>
        <div class="swiper-slide">
          <img src={aboutImage2.src} alt="IMD UFRN" class="about-image" />
        </div>
        <div class="swiper-slide">
          <img src={aboutImage3.src} alt="DIMAP UFRN" class="about-image" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</Section>

<style>
  .about-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
  }
  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  .graduation-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    border: var(--border-lg) var(--color-base-light) solid;
    border-radius: var(--radius-lg);
    padding: var(--space-md);
  }
  .about-topics-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
  }
  .about-topic {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    background-color: var(--color-base-light);
    padding: var(--space-sm);
    border: none;
    border-radius: var(--radius-lg);
  }
  .swiper-about {
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: var(--radius-lg);
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 1024px) {
    .about-layout {
      flex-direction: row;
      align-items: start;
    }
    .about-content,
    .swiper-about {
      flex: 1;
      width: auto;
      min-width: 0;
    }
  }
</style>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";

  const swiper = new Swiper(".swiper-about", {
    modules: [Pagination, Autoplay],

    slidesPerView: 1,
    loop: true,

    autoplay: {
      delay: 3000, 
      disableOnInteraction: false,
    },

    pagination: {
      el: ".swiper-about .swiper-pagination",
      type: "progressbar",
    },
  });
</script>
