---
import { getCollection, type CollectionEntry } from "astro:content";

import Section from "../../layout/Section.astro";
import SkillCard from "../../ui/SkillCard.astro";

const skills: CollectionEntry<"skills">[] = await getCollection("skills");
console.log(skills)
---

<Section id="skills" title="SKILLS" variant="base">

  <div class="skills-layout">
    {skills.map((skill) => <SkillCard skill={skill} />)}
  </div>
</Section>

<style>
  .skills-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
  }
  @media (min-width: 768px) {
    .skills-layout {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1024px) {
    .skills-layout {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
