---
import { getCollection } from "astro:content";

import Section from "../../layout/Section.astro";
import SkillCard from "../../ui/SkillCard.astro";

const skills = await getCollection("skills");
const skillsSorted = skills.sort((a, b) => {
  if (a.data.category === "tools") return 1;
  if (b.data.category === "tools") return -1;
  if (a.data.category === "other") return 1;
  if (b.data.category === "other") return -1;
  if (a.data.category != b.data.category) return a.data.category.localeCompare(b.data.category);
  return a.data.title.localeCompare(b.data.title);
});
---

<Section id="skills" title="SKILLS" variant="base">
  <div class="skills-layout">
    {skillsSorted.map((skill) => <SkillCard skill={skill} />)}
  </div>
</Section>

<style>
  .skills-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
  }
  @media (min-width: 768px) {
    .skills-layout {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1024px) {
    .skills-layout {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
