---
import type { Variant } from "../variant";
import type { FontSize } from "../fontSize";

type Props = {
  text: string;
  variant?: Variant;
  fontSize?: FontSize;
  bold?: boolean;
  alignLeft?: boolean
};

const { text, variant = "contrast", fontSize = 'sm', bold = false, alignLeft = false } = Astro.props;
---

<p class={`paragraph ${variant} ${fontSize} ${bold ? 'bold' : null} ${alignLeft ? 'align-left' : null}`}>
  {text}
</p>


<style>
  .paragraph {
    text-align: center;
    line-height: 1.5;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
  }
  .paragraph.base {
    color: var(--color-base);
  }
  .paragraph.contrast {
    color: var(--color-contrast);
  }
  .paragraph.primary {
    color: var(--color-primary);
  }
  .paragraph.featured {
    color: var(--color-featured-contrast);
  }
  .paragraph.sm {
    font-size: var(--font-size-sm);
  }
  .paragraph.md {
    font-size: var(--font-size-md);
  }
  .paragraph.lg {
    font-size: var(--font-size-lg);
  }
  .paragraph.bold {
    font-weight: var(--font-weight-lg);
  }
  .paragraph.align-left {
    text-align: left;
  }
</style>
