---
import type { Variant } from "../variant";

type Props = {
  title: string;
  variant?: Variant;
};

const { title, variant = "contrast" } = Astro.props;
---

<span class={`span span-${variant}`}>
  {title}
</span>


<style>
  .span {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-lg);
  }
  .span-base {
    color: var(--color-base);
  }
  .span-contrast {
    color: var(--color-contrast);
  }
  .span-primary {
    color: var(--color-primary);
  }
</style>
